$primary-text-color: #331B3B;
$seccondary-text-color: #fff;
$danger-text-color: #d94848;

$btn-seccondary-color: #000;
$btn-seccondary-background: #fff;

$line-background: #FDC221;

$primary-border-color: #331B3B;

$seccondary-background: #331B3B;
$footer-background: #000;
